body {
	background: #eee;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0
}

.example {
/* 	background: #FFF; */
	width: 90%;
	font-size: 80%;
/* 	border: 1px #000 solid; */
/* 	margin: 5px auto; */
/* 	padding: 15px; */
/* 	position: relative; */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

h3 {
	text-align: center
}

.pbar .ui-progressbar-value {
	display: block !important
}

.pbar {
	overflow: hidden;
	height: 10px;
}

.percent {
	position: relative;
/* 	text-align: right; */
}

.elapsed {
	position: relative;
	text-align: right;
}